CMakeFiles
Debug
Release
.vs
*.obj
*.tlog
*.pdb
*.ilk
*.idb
*.db
*.suo
*.db-shm
*.db-wal
*.log
*.res
*.pyc
*.FileListAbsolute.txt

/gdal-3.0.1/ogr/ogrsf_frmts/ogrsf_frmts_sup.lib
/gdal-3.0.1/ogr/ogrsf_frmts/ogrsf_frmts.lib
/gdal-3.0.1_extended/ogr/ogrsf_frmts/ogrsf_frmts_sup.lib
/gdal-3.0.1_extended/ogr/ogrsf_frmts/ogrsf_frmts.lib