CMakeFiles
.vs
*.obj
*.tlog
*.pdb
*.ilk
*.db
*.suo
*.db-shm
*.db-wal
*.log
*.res
*.pyc
*.FileListAbsolute.txt


/3rdPartyLibs/tiff-4.0.9/tools/Debug
/3rdPartyLibs/tiff-4.0.9/tools/Release
/3rdPartyLibs/zlib-1.2.11/Debug
/3rdPartyLibs/zlib-1.2.11/Release
/3rdPartyLibs/tiff-4.0.9/tools/Debug
/3rdPartyLibs/tiff-4.0.9/tools/Release
/3rdPartyLibs/libpng-1.6.34/Debug
/3rdPartyLibs/libpng-1.6.34/Release
/3rdPartyLibs/protobuf-3.5.1/cmake/Debug
/3rdPartyLibs/protobuf-3.5.1/cmake/Release
/3rdPartyLibs/tiff-4.0.9/test/Debug
/3rdPartyLibs/tiff-4.0.9/test/Release
/3rdPartyLibs/tiff-4.0.9/contrib/dbs/Debug
/3rdPartyLibs/tiff-4.0.9/contrib/dbs/Release
/3rdPartyLibs/tiff-4.0.9/libtiff/Debug
/3rdPartyLibs/tiff-4.0.9/libtiff/Release
/3rdPartyLibs/tiff-4.0.9/contrib/addtiffo/Debug
/3rdPartyLibs/tiff-4.0.9/contrib/addtiffo/Release
/3rdPartyLibs/protobuf-3.5.1/python/release/wheel
/3rdPartyLibs/tiff-4.0.9/contrib/iptcutil/Debug
/3rdPartyLibs/tiff-4.0.9/contrib/iptcutil/Release
/3rdPartyLibs/tiff-4.0.9/port/Debug
/3rdPartyLibs/tiff-4.0.9/port/Release
/3rdPartyLibs/protobuf-3.9.1/cmake/build/Debug
/3rdPartyLibs/protobuf-3.9.1/cmake/build/Release

/gdal-3.0.1/ogr/ogrsf_frmts/ogrsf_frmts_sup.lib
/gdal-3.0.1/ogr/ogrsf_frmts/ogrsf_frmts.lib
/proj-6.1.1/bin/Release
/proj-6.1.1/lib/Release

/32bits/proj-6.1.1/lib/Release
/32bits/proj-6.1.1/bin/Release
/32bits/3rdPartyLibs/tiff-4.0.9/tools/Debug
/32bits/3rdPartyLibs/tiff-4.0.9/tools/Release
/32bits/3rdPartyLibs/zlib-1.2.11/Debug
/32bits/3rdPartyLibs/zlib-1.2.11/Release
/32bits/3rdPartyLibs/tiff-4.0.9/tools/Debug
/32bits/3rdPartyLibs/tiff-4.0.9/tools/Release
/32bits/3rdPartyLibs/libpng-1.6.34/Debug
/32bits/3rdPartyLibs/libpng-1.6.34/Release
/32bits/3rdPartyLibs/protobuf-3.5.1/cmake/Debug
/32bits/3rdPartyLibs/protobuf-3.5.1/cmake/Release
/32bits/3rdPartyLibs/tiff-4.0.9/test/Debug
/32bits/3rdPartyLibs/tiff-4.0.9/test/Release
/32bits/3rdPartyLibs/tiff-4.0.9/contrib/dbs/Debug
/32bits/3rdPartyLibs/tiff-4.0.9/contrib/dbs/Release
/32bits/3rdPartyLibs/tiff-4.0.9/libtiff/Debug
/32bits/3rdPartyLibs/tiff-4.0.9/libtiff/Release
/32bits/3rdPartyLibs/tiff-4.0.9/contrib/addtiffo/Debug
/32bits/3rdPartyLibs/tiff-4.0.9/contrib/addtiffo/Release
/32bits/3rdPartyLibs/tiff-4.0.9/contrib/iptcutil/Debug
/32bits/3rdPartyLibs/tiff-4.0.9/contrib/iptcutil/Release
/32bits/3rdPartyLibs/tiff-4.0.9/port/Debug
/32bits/3rdPartyLibs/tiff-4.0.9/port/Release
/32bits/gdal-3.0.1/ogr/ogrsf_frmts/ogrsf_frmts_sup.lib
/32bits/gdal-3.0.1/ogr/ogrsf_frmts/ogrsf_frmts.lib
/32bits/proj-6.1.1/googletest-download/googletest-prefix/src/googletest-stamp/Debug
